params {
    outdir = '$PWD/assembly_results'
    assembler = 'megahit'
    coassembly = false
}

process {
    withName: 'spades|megahit' {
        cpus = {check_max(20, 'cpus')}
        memory = {check_max(120.GB, 'memory')}
    }
    withName: 'quast' {
        cpus = {check_max(5, 'cpus')}
        memory = {check_max(40.GB, 'memory')}
    }
}

includeConfig("conf/profiles.config")
