/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

params {
  outdir = "$PWD/" + "outputs_metagenome-assembly-pipeline"
  adapters = ""
}

includeConfig 'conf/base.config'

singularity {
  enabled = true
  cacheDir = "$HOME/.singularity_images.cache"
}

profiles {
  hpc { includeConfig 'conf/hpc.config' }
  test { includeConfig 'conf/test.config' }
}