/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

params {
  outdir = "$PWD/" + "outputs_metagenome-assembly-pipeline"
  adapters = ""
}

singularity {
  enabled = true
  cacheDir = "$HOME/.singularity_images.cache"
}

profiles {
  local { includeConfig 'conf/local.config' }
  hpc { includeConfig 'conf/hpc.config' }
  hpc_test { includeConfig 'conf/hpc_test.config' }
}