/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

params {
    outdir = "$PWD/" + "outputs_metagenome-assembly-pipeline"
    
    // trimming
    adapters = "null"
    trimming = "fastp"
    trim_win_len = 10
    trim_win_qual = 25
    clip_qual = 5
    min_trim_len = 20
    min_avg_qual = 25
    min_annot_len = 1000
    hd_crop = 0
    tl_crop = 0
    keep_unpaired = false
    
    // assembly
    assembler = "megahit"
    split_assembly = false
    
    // coverage
    aligner = 'bwa'

    // annotation
    virsorter_db = "$HOME/databases/virsorter-data"
    kraken_db = "null"
    pfam_db = "$HOME/databases/Pfam-A.hmm"
}

singularity {
  enabled = true
  cacheDir = "$HOME/.singularity_images.cache"
  
}

process {
    container = 'nakor/metagenome-assembly'
}

profiles {
  poire { includeConfig 'conf/poire.config' }
  lani { includeConfig 'conf/lani.config' }  
  hpc { includeConfig 'conf/hpc.config' }
  hpc_test { includeConfig 'conf/hpc_test.config' }
}