params {
    outdir = '$PWD/trimming_results'
    adapters = "null"
    trimming = "fastp"
    trim_win_len = 10
    trim_win_qual = 25
    clip_qual = 5
    min_trim_len = 20
    min_avg_qual = 25
    hd_crop = 0
    tl_crop = 0
    hd_crop_fwd = 5
    hd_crop_rev = 5
    tl_crop_fwd = 5
    tl_crop_rev = 5
    keep_unpaired = false
}

includeConfig("conf/profiles.config")
    
process {
    withName: 'fastqc' {
        cpus = {check_max(5, 'cpus')}
        memory = {check_max(16.GB, 'memory')}
    }
    withName: 'multiqc' {
        cpus = {check_max(1, 'cpus')}
        memory = {check_max(4.GB, 'memory')}
    }
    withName: 'trimmomatic|fastp' {
        cpus = {check_max(10, 'cpus')}
        memory = {check_max(48.GB, 'memory')}
    }
}
