process {
   cpus = 20
   memory = 90.GB
   time = 24.h

   errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
   maxRetries = 1
   maxErrors = '-1'

   withName: 'PreQC|PostQC' {
       cpus = 10
       memory = 32.GB
   }

   withName: 'PreMultiQC|PostMultiQC' {
       cpus = 1
       memory = 8.GB
   }

   withName: 'Trimming|CoverageIndex' {
       cpus = 10
       memory = 32.GB
   }

   withName: 'MetaspadesAssemby|Coverage' {
       cpus = 20
       memory = 90.GB
   }
   withName: 'Metabat2|CoCoNet' {
       cpus = 20
       memory = 90.GB
   }   
}