process {
   executor = 'slurm'
   cpus = 19
   memory = 120.GB
   time = 24.h

   errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
   maxRetries = 1
   maxErrors = '-1'

   withName: 'PreQC|PostQC' {
       cpus = 5
       memory = 32.GB
   }
   withName: 'PreMultiQC|PostMultiQC' {
       cpus = 1
       memory = 8.GB
   }
   withName: 'Trimming|CoverageIndex' {
       cpus = 5
       memory = 32.GB
   }
   withName: 'MetaspadesAssembly' {
       cpus = 30
       memory = {500.GB + 500.GB*task.attempt}
       time = {72.h + 48.h*task.attempt}
   }
   withName: 'Coverage' {
       cpus = 19
       memory = 120.GB
   }
   withName: 'Quast' {
       cpus = 20
       memory = 120.GB
   }   
   withName: 'Metabat2|CoCoNet' {
       cpus = 19
       memory = 120.GB
   }   
}