process {
   executor = 'local'
   cpus = 10
   memory = 40.GB
   time = 72.h

   errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
   maxRetries = 1
   maxErrors = '-1'

   withName: 'PreQC|PostQC' {
       cpus = 5
       memory = 16.GB
   }
   withName: 'PreMultiQC|PostMultiQC' {
       cpus = 1
       memory = 4.GB
   }
   withName: 'Trimmomatic|Fastp|CoverageIndex' {
       cpus = 10
       memory = 40.GB
   }
   withName: 'MetaspadesAssembly|MegahitAssembly|Coverage' {
       cpus = 20
       memory = 90.GB
   }
   withName: 'Quast' {
       cpus = 10
       memory = 40.GB
   }
   withName: 'Metabat2|CoCoNet' {
       cpus = 20
       memory = 90.GB
   }   
}
