process {
   executor = 'local'
   cpus = 30
   memory = 200.GB
   time = 72.h

   errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
   maxRetries = 1
   maxErrors = '-1'

   withName: 'fastqc|multiqc' {
       cpus = 5
       memory = 16.GB
   }
   withName: 'aln_stats|reshape_summary' {
       cpus = 1
       memory = 4.GB
   }
   withName: 'trimmomatic|fastp|bwa_index|viralverify' {
       cpus = 10
       memory = 40.GB
   }
   withName: 'megahit|bwa' {
       cpus = 30
       memory = 250.GB
   }
   withName: 'spades' {
       cpus = 30
       memory = 250.GB
   }    
   withName: 'quast|virsorter' {
       cpus = 5
       memory = 50.GB
   }
   withName: 'metabat2|coconet|prokka' {
       cpus = 12
       memory = 100.GB
   }   
}
