params {
    outdir = "$PWD/annotation_results"
    
    min_annot_len = 1000
    virsorter2_db = "$HOME/db/virsorter2_db"
    kraken_db = "null"
    pfam_db = "$HOME/db/Pfam-A.hmm"    
}


profiles {
    docker { docker.enabled = true }
    singularity { singularity.enabled = true }
    lani { includeConfig "$baseDir/../../conf/lani.config" }
    hpc { includeConfig "$baseDir/../../conf/hpc.config" }    
    test { includeConfig "$baseDir/../../conf/test.config" }
}
    
process {
    withName: 'dl_pfam_db|dl_virsorter2_db|dl_kraken2_db' {
        cpus = {check_max(1, 'cpus')}
        memory = {check_max(4.GB, 'memory')}
    }
    withName: 'viralverify' {
        cpus = {check_max(10, 'cpus')}
        memory = {check_max(16.GB, 'memory')}
    }
    withName: 'virsorter2' {
        cpus = {check_max(1, 'cpus')}
        memory = {check_max(16.GB, 'memory')}
    }    
    withName: 'prokka' {
        cpus = {check_max(45, 'cpus')}
        memory = {check_max(32.GB, 'memory')}
    }    
    withName: 'kraken2' {
        cpus = {check_max(45, 'cpus')}
        memory = {check_max(32.GB, 'memory')}
    }        
}


// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
