params {
    outdir = "$PWD/coverage_results"
    coassembly = false
    
    // coverage summary table
    cov_summary_len = [0, 1000, 2000, 5000]
    cov_summary_flags = [['mapped', 0], ['mapped in proper pair', 3]]
    cov_summary_quals = [0, 30, 50]    
}

process {
    withName: 'aln_stats' {
        cpus = {check_max(1, 'cpus')}
        memory = {check_max(4.GB, 'memory')}
    }    
    withName: 'bwa' {
        cpus = {check_max(10, 'cpus')}
        memory = {check_max(40.GB, 'memory')}
    }
    withName: 'bwa_index' {
        cpus = {check_max(20, 'cpus')}
        memory = {check_max(90.GB, 'memory')}
    }
}

includeConfig("conf/profiles.config")
